{% extends "../feathertree/simple_form_base.html" %}

{% block head %}
<title>Feathertree ⋅ Create Chapter</title>
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock head %}

{% block simple_form_content %}
<h4>Create Chapter</h4>

<p>Fill out the fields below to add a new chapter.</p>

{% include "feathertree/_form_errors.html" %}

<form action="{% url 'feathertree:chapter_create' prev_chapter_id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Publish Chapter</button>
</form>

{% endblock simple_form_content %}
