{% extends "../feathertree/simple_form_base.html" %}

{% block head %}
<title>Feathertree ⋅ Create Chapter</title>
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock head %}

{% block simple_form_content %}
<h4>Create Chapter</h4>

{% include "feathertree/_form_errors.html" %}
<article class="stack">
    <form action="{% url 'feathertree:chapter_create' prev_chapter_id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">💾 Save as Draft</button>
    </form>
</article>
{% endblock simple_form_content %}
