{% extends "feathertree/base.html" %}

{% block head %}
<title>Feathertree ⋅ Account Created</title>
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock head %}

{% block body %}
{% include "feathertree/_header.html" %}
    <p>Your Feathertree account has been successfully created!</p>
    <!--
    <p>Please check your email to verify your account and continue.</p>
    <p>If you do not see the verification email, check your spam folder.</p>
    -->
{% endblock body %}
