<!-- the sole purpose of this page is to help rapidly test new functionality -->
<!DOCTYPE html>
<!--
<html lang="en">
    <title>Test Page</title>
    <body>
        <h2>Mailer Test</h2>
        <form action="{% url 'feathertree:test_page' %}" method="post">
            {% csrf_token %}
            <label for="email_address">Mailer: </label>
            <input id="email_address" type="text" name="email_address" value="">
            <input type="submit" value="OK">
        </form>
    </body>
</html>
-->