{% extends "../feathertree/simple_form_base.html" %}

{% block head %}
<title>Feathertree ⋅ Create Account</title>
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock head %}

{% block simple_form_content %}
{% if not user.is_authenticated %}

<h4>Sign Up</h4>

<article class="stack">
    {% include "feathertree/_form_errors.html" %}

    <form action="{% url 'feathertree:user_create' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>
</article>

<p>Already have an account? Log in <a href="{% url 'login' %}">here</a>!</p>

{% else %}
<p>You are already logged in.</p>
<p><a href="{% url 'logout' %}">Logout</a> and try again.</p>
{% endif %}
{% endblock simple_form_content %}
